* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header, footer {
    height: 100px;
    background-color: dodgerblue;
}